<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ex.ali.bitirmeprojesi">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Location Based Reminder"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <service
                android:name=".ServiceSendNotificationForFriend"
                android:enabled="true"
                android:exported="true">
        </service>
        <service
                android:name=".ServiceSendNotification"
                android:enabled="true"
                android:exported="true">
        </service>
        <service
                android:name=".ServiceLocationForCurrentUser"
                android:enabled="true"
                android:exported="true">
        </service>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <activity android:name=".ActivityReminderPage">
        </activity>
        <activity android:name=".ActivityOtherUserProfile">
        </activity>
        <activity android:name=".ActiviySearch">
        </activity>
        <activity android:name=".ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ActivityRegister"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".ActivityProfilePage"/>
    </application>

</manifest>